body {
  background-color: rgba(220, 172, 100, 0.819);
  scroll-behavior: smooth;
  overflow: scroll;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 200;
  padding: 0px;
}

.content {
  padding: 20px 4rem 20px 4rem;
}

h1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: black;
  padding: 20px;
  align-items: center;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}
.active {
  color: white;
  border-bottom: 2px white double;
  text-decoration: none;
  font-size: 20px;
  padding: 5px;
}
nav ul {
  display: flex;
  margin: 5px;
  width: 500px;
  justify-content: space-between;
}

nav li {
  text-decoration: none;
}

.row {
  display: flex;
  justify-content: space-around;
  width: 1500px;
  margin-top: 3rem;
}
.row2{
  margin-top: 3rem;
  display: flex;
  justify-content: space-around;
  width: 1500px;
}
.members{
  width: fit-content;
  margin: auto;
}
.avatar {
  margin: auto;
  vertical-align: middle;
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.teamname {
  text-align: center;
}
.description {
  width: 250x;
  margin-top: 20px;
  margin: auto;
}

.logo {
  display: flex;
  width: 300px;
  justify-content: space-between;
}

.logo h1 {
  color: white;
  align-items: center;
  text-align: center;
  display: flex;
}

.log {
  margin: auto;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.intro {
  margin: auto;
  width: fit-content;
}
.intro p {
  width: 400px;
  text-align: center;
}

.member {
  background: rgba(0, 0, 0, 0.5);
  width: 400px;
  height: 400px;
  padding: 15px;
  border-radius: 20%;
  text-align: center;
}

::-webkit-scrollbar {
  display: none;
}

li {
  text-decoration: none;
}

.models {
  margin: auto;
  width: fit-content;
  height: fit-content;
  margin-top: 20px;
}
.main-text {
  margin: auto;
  width: 65%;
  padding: 10px;
  background-color: wheat;
  margin-top: 20px;
  border-radius: 15px;
  border: 1px black solid;
  box-shadow: 5px 10px rgba(0, 0, 0, 0.5);
}

a:hover {
  color: grey;
}

.member-border{
  margin: auto;
  width: fit-content;
  padding: 10px;
  background-color: wheat;
  margin-top: 20px;
  border-radius: 15px;
  border: 1px black solid;
  box-shadow: 5px 10px rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 768px) {
  .row {
    display: block;
  }
  .member {
    margin-top: 2rem;
    width: 250px;
  }
  nav h1 {
    font-size: 15px;
  }
  .log {
    height: 25px;
    width: 25px;
    margin: auto;
  }
  .content {
    margin: 0px;
  }
  .intro p {
    width: 250px;
  }
  .logo {
    display: block;
    width: 150px;
  }
  .img {
    margin: auto;
    width: fit-content;
  }
}
